In [1]:
import requests
import json
import pandas as pd
import numpy as np
import time
import statistics as stat
import OANDA_api
import info
import utils
import Indicators
import info
import Instruments

In [2]:
api = OANDA_api.oanda_api()

In [3]:
candles = api.complete_candles_df('USD_CAD', 40000, 'H1', 'MBA')

In [4]:
candles.head()

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2015-07-30T00:00:00.000000000Z,590,1.29504,1.29599,1.29504,1.29532,1.29494,1.29590,1.29490,1.29522,1.29515,1.29609,1.29515,1.29542
1,2015-07-30T01:00:00.000000000Z,708,1.29532,1.29586,1.29492,1.29526,1.29520,1.29576,1.29479,1.29516,1.29543,1.29596,1.29503,1.29535
2,2015-07-30T02:00:00.000000000Z,712,1.29522,1.29597,1.29512,1.29530,1.29512,1.29587,1.29500,1.29519,1.29531,1.29608,1.29524,1.29540
3,2015-07-30T03:00:00.000000000Z,378,1.29529,1.29573,1.29510,1.29558,1.29518,1.29563,1.29500,1.29548,1.29540,1.29584,1.29521,1.29568
4,2015-07-30T04:00:00.000000000Z,402,1.29562,1.29597,1.29550,1.29589,1.29552,1.29587,1.29539,1.29578,1.29573,1.29607,1.29560,1.29600

In [5]:
Indicators.relative_strength_index(candles)

In [6]:
Indicators.macd(candles)

In [7]:
Indicators.exponential_moving_average(candles, 'open', 20)

In [8]:
candles.columns

Index(['time', 'volume', 'mid_o', 'mid_h', 'mid_l', 'mid_c', 'bid_o', 'bid_h',
       'bid_l', 'bid_c', 'ask_o', 'ask_h', 'ask_l', 'ask_c', 'rsi_14',
       'MACD_12_26_9', 'EMA_20'],
      dtype='object')

In [9]:
useful_candles = candles[['time', 'bid_h', 'ask_l']]

In [10]:
useful_candles.head()

                             time    bid_h    ask_l
0  2015-07-30T00:00:00.000000000Z  1.29590  1.29515
1  2015-07-30T01:00:00.000000000Z  1.29576  1.29503
2  2015-07-30T02:00:00.000000000Z  1.29587  1.29524
3  2015-07-30T03:00:00.000000000Z  1.29563  1.29521
4  2015-07-30T04:00:00.000000000Z  1.29587  1.29560

In [11]:
currencies = ['EUR', 'USD', 'GBP', 'JPY', 'CHF', 'NZD', 'CAD', 'AUD', 'CHF']

In [12]:
ins_df = pd.read_pickle('instruments.pkl')

In [14]:
for p1 in currencies:
    for p2 in currencies:
        pair = f'{p1}_{p2}'
        if pair in ins_df.name.unique():
            candles = api.complete_candles_df(pair, 80000, 'H1', 'MBA')
            candles.to_pickle(f'candles_data/{pair}_H1.pkl')
            print(pair)

EUR_USD
EUR_GBP
EUR_JPY
EUR_CHF
EUR_NZD
EUR_CAD
EUR_AUD
EUR_CHF
USD_JPY
USD_CHF
USD_CAD
USD_CHF
GBP_USD
GBP_JPY
GBP_CHF
GBP_NZD
GBP_CAD
GBP_AUD
GBP_CHF
CHF_JPY
NZD_USD
NZD_JPY
NZD_CHF
NZD_CAD
NZD_CHF
CAD_JPY
CAD_CHF
CAD_CHF
AUD_USD
AUD_JPY
AUD_CHF
AUD_NZD
AUD_CAD
AUD_CHF
CHF_JPY